.card {
  width: 12rem;
  margin: 0 1rem;
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffff;
  border: 2px solid #e5e7eb;
  border-radius: 0.5rem;
}

.cardImg {
  width: 100%;
  border-radius: 0.5rem;
}

.cardInfoOne {
  color: #94a3b8;
}

.cardInfoTwo {
  color: black;
}

.cardInfoThree {
  color: green;
}

.btnAdd {
  background-color: #000000;
  border-radius: 0.8rem;
  padding: 0.5rem;
  margin: 1rem;

  &:hover {
    background-color: #747474;
    border: 1px solid #747474;
    cursor: pointer;
  }
}
